:root {
    --button-color: rgb(225, 20, 20);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url("public/q.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#calculator {
    flex-grow: 1;
    outline: #ffffff 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
}

#calculator #screen {
    grid-column: 1/-1;
    grid-row: 1/3;
    border: #000000 5px solid;
    font-size: 3rem;
}

.btn {
    font-size: 3rem;
    background-color: var(--button-color);
    color: white;
    border: 0 none;
    border-radius: 30px;

    transition-duration: 0.2s;
}

.btn:hover {
    background-color: rgba(133, 60, 60, 0.45);
}

.btn:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 6px 6px rgba(0, 0, 0, 0.22);
}

